# Racine du projet
/node_modules
/dist
/*.log
/npm-debug.log*

# Backend
/Backend/node_modules
/Backend/.env
/Backend/.env.local
/Backend/.env.development
/Backend/.env.test
/Backend/.env.production
/Backend/*.pem
/Backend/*.key
/Backend/.vscode

# Frontend
/Frontend/messagerie/node_modules
/Frontend/messagerie/dist
/Frontend/messagerie/.env
/Frontend/messagerie/.env.local
/Frontend/messagerie/.env.development
/Frontend/messagerie/.env.test
/Frontend/messagerie/.env.production
/Frontend/messagerie/e2e/*.js
/Frontend/messagerie/e2e/*.ts
/Frontend/messagerie/src/environments
/Frontend/messagerie/src/test.ts
/Frontend/messagerie/.vscode
