
// @import '../new-register/new-register.component.scss';


  
// .password-reset-background {
//   @extend .register-background; // Hérite du style de login-background

//   .password-reset-container {
//     @extend .register-container; // Hérite du style de login-container

//     .password-reset-title {
//       @extend .register-title; // Hérite du style de login-title
//     }

//     .password-reset-button {
//       @extend .register-button; // Hérite du style de login-button
//     }

//     .security-question {
//       color: #555;
//       margin-bottom: 40px;
//     }
//   }

  
// }

@import '../new-register/new-register.component.scss';

.password-reset-background {
  @extend .register-background;

  .password-reset-container {
    @extend .register-container;

    .password-reset-title {
      @extend .register-title;
    }

    .password-reset-button {
      @extend .register-button;
    }

    .security-question {
      color: #555;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    .password-reset-container {
      // Hérite des modifications responsives de .register-container
      .password-reset-title {
        font-size: 2rem; // Taille de police ajustée pour les petits écrans
      }

      .security-question {
        font-size: 1rem; // Réduction de la taille de police pour la question de sécurité
        margin-bottom: 20px; // Ajustement de la marge inférieure
      }

      .password-reset-button {
        // Hérite des modifications responsives de .register-button
      }
    }
  }
}

