


  

@import '../login/login.component.scss';

.security-question-background {
  @extend .login-background;

  .security-question-container {
    @extend .login-container;

    .security-question-title {
      @extend .login-title;
      
    }

    .security-question-button {
      @extend .login-button;
    }
    #securityQuestion option {
      background-color: gray; // Remplacez par la couleur de fond que vous souhaitez
      color: white; // Couleur du texte dans les options, changez-la selon vos besoins
  }
  
  }

  @media (max-width: 768px) {
    .security-question-container {
      // Hérite des modifications responsives de .login-container
      .security-question-title {
        font-size: 2rem; // Taille de police ajustée pour les petits écrans
      }

      .security-question-button {
        // Hérite des modifications responsives de .login-button
      }
    }
  }
}
